<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PVFD | ABOUT</title>

    <link href="/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/jquery-confirm.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="/javascripts/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-confirm.min.js"></script>
    <script src="/javascripts/function.js"></script>

</head>
<body>

<div id="wrapper" class="clearfix">

    <header id="header" class="medicom-header medical-nav">
        <div class="fillline"></div>
        <div class="container">

            <!-- Primary Navigation
            ============================================= -->
            <nav class="navbar navbar-default" role="navigation">

                <!-- Brand and toggle get grouped for better mobile display
                ============================================= -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0);"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right" id="primary-nav">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="">
                            <a href="/data/index"><i class="fa fa-search"></i> Data</a>
                        </li>
                        <li class="">
                            <a href="/stat"><i class="fa fa-bar-chart-o"></i> Statistics</a>
                        </li>
                        <li class="active">
                            <a href="/about"><i class="fa fa-info-circle"></i> About</a>
                        </li>
                        <li class="">
                            <a href="/faq"><i class="fa fa-question-circle-o"></i> FAQ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="main">
        <div class="main_top">
            <div class="main_top_desc_div">
                <h3 id="target_h3">ABOUT</h3>
            </div>
        </div>

        <div class="main_mid">
            <div class="main_mid_div">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="bottom10">
                            <div class="blockTitleDiv" style="background-color: #3a4450">
                                <span><i class="fa fa-info-circle"></i> Introduce</span>
                            </div>
                            <div class="blockContentDiv" style="display: block;background-color: #f0f0f0">
                                <div class="block">
                                    <div>
                                        <p>PVFD is used to filter out the real disease - causing mutations, genes and sites and is necessary for disease detection in clinical cases.With the disease - detection product to market, and the samples accumulating, PVFD can make the mutation frequencyinformation updated and more accurate, with accumulation of newly found disease - causing genes or loci meanwhile.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="bottom10">
                            <div class="blockTitleDiv" style="background-color: #3a4450">
                                <span><i class="fa fa-info-circle"></i> Data Source</span>
                            </div>
                            <div class="blockContentDiv" style="display: block;background-color: #f0f0f0">
                                <div class="block">
                                    <div>
                                        <table class="table">
                                            <thead>
                                                <tr><th>Project</th><th>Sample Number</th><th>Sequence Type</th></tr>
                                            </thead>
                                            <tbody>
                                                <tr><th>1000genomics</th><th>2504</th><th>WGS</th></tr>
                                                <tr><th>BGI1000</th><th>200</th><th>WES</th></tr>
                                                <tr><th>BGI Psoriasis</th><th>700</th><th>WES</th></tr>
                                                <tr><th>NHLBI ESP</th><th>6053</th><th>WES</th></tr>
                                                <tr><th>NIEHS EGP</th><th>90</th><th>WES</th></tr>
                                                <tr><th>HGDP</th><th>1064</th><th>WES</th></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

</body>
</html>