<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PVFD | FAQ</title>

    <link href="/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/jquery-confirm.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="/javascripts/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-confirm.min.js"></script>
    <script src="/javascripts/function.js"></script>

</head>
<body>

<div id="wrapper" class="clearfix">

    <header id="header" class="medicom-header medical-nav">
        <div class="fillline"></div>
        <div class="container">

            <!-- Primary Navigation
            ============================================= -->
            <nav class="navbar navbar-default" role="navigation">

                <!-- Brand and toggle get grouped for better mobile display
                ============================================= -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0);"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right" id="primary-nav">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="">
                            <a href="/data/index"><i class="fa fa-search"></i> Data</a>
                        </li>
                        <li class="">
                            <a href="/stat"><i class="fa fa-bar-chart-o"></i> Statistics</a>
                        </li>
                        <li class="">
                            <a href="/about"><i class="fa fa-info-circle"></i> About</a>
                        </li>
                        <li class="active">
                            <a href="/faq"><i class="fa fa-question-circle-o"></i> FAQ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="main">
        <div class="main_top">
            <div class="main_top_desc_div">
                <h3 id="target_h3">FAQ</h3>
            </div>
        </div>

        <div class="main_mid">
            <div class="main_mid_div">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="bottom10">
                            <div class="blockTitleDiv" style="background-color: #3a4450">
                                <span><i class="fa fa-question-circle"></i> Question 1: What Service can I get?</span>
                                <!--<span><i class="fa fa-question-circle"></i> Question 1: 该网站提供什么服务？</span>-->
                            </div>
                            <div class="blockContentDiv" style="display: block;background-color: #f0f0f0">
                                <div class="block">
                                    <div>
                                        <p>A : This website provides variant frequency querying and statistics service.Users can search on <a href="/data/index">DATA page</a>,and check out data statistics on <a href="/stat">Statistics page</a>.</p>
                                        <!--<p>答：该网站主要提供了变异频率信息查询以及查看总体统计的服务，用户可以在<a href="/data/index">DATA页面</a>使用查询服务，在<a href="/stat">Statistics页面</a>查看总体统计。</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="bottom10">
                            <div class="blockTitleDiv" style="background-color: #3a4450">
                                <span><i class="fa fa-question-circle"></i> Question 2: How to query?</span>
                            </div>
                            <div class="blockContentDiv" style="display: block;background-color: #f0f0f0">
                                <div class="block">
                                    <div>
                                        <p>A:On <a href="/">home page</a> or <a href="/data/index">DATA page</a>,you can input a <b>chromosome position</b> or <b>dbSNP ID</b> to search variation frequency information ,including various dimension distribution on ethnicity,area,gender and country.</p>
                                        <!--<p>答：用户可以通过在<a href="/">首页</a>搜索框或<a href="/data/index">DATA页面</a>搜索框键入一个<b>染色体坐标</b>或一个<b>变异标识符</b>，来查询对应的变异频率信息，以及该变异在种群、地区、性别、国家等不同维度上的分布。</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-4">-->
                        <!--<div class="bottom10">-->
                            <!--<div class="blockTitleDiv" style="background-color: #3a4450">-->
                                <!--<span><i class="fa fa-question-circle"></i> Question 3: 无权访问数据</span>-->
                            <!--</div>-->
                            <!--<div class="blockContentDiv" style="display: block;background-color: #f0f0f0">-->
                                <!--<div class="block">-->
                                    <!--<div>-->
                                        <!--<p>答：在访问DATA页面前，请确保在<a href="https://www.bgionline.com"> BGI Online </a>获得相关权限。</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->

                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>

    </div>

</div>

</body>

<script>
    $(".navbar-nav li a").hover(function(){
        if ($(this).parent("li").hasClass("active")){
            return false;
        }
        $(this).children("i").css("visibility","visible");
    },function(){
        if ($(this).parent("li").hasClass("active")){
            return false;
        }
        $(this).children("i").css("visibility","hidden");
    });

</script>
</html>